// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.lang-bar-container {
    text-align: right; background: #f7f7f7;
    
    .lang-bar {
        padding: 3px 0px;
        a {
            padding: 0.25rem 1.5rem;
            font-weight: 400;
            color: #212529;
            
            &:hover {
                color: #16181b;
                text-decoration: none;
                background-color: #f8f9fa;
            }
        }
    }
}